$black: #000000;
$white: #ffffff;
$blue1: #50b8e7;
$blue2: #84cdee;
$blue3: #b9e2f5;
$blue4: #dcf0fa;
$blue5: #edf7fc;
$blue6: #65caf8;

$skyBlue: #48b2f2;

$inter: #010E80;
$inter2: #003aa8;


$azureBlue5: #003399;
$miBlue: #083f88;
$gold: #FFD700;

$offWhite: #FAF9F6;